@charset "UTF-8";
body {
	background-color: #AFCFC0;
	font-family: "Cambria Math", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 100%;
}
h1 {
	background-color: #7E6021;
	color: #DCE9E3;
	border-radius: 20px;
	margin-left: 0px;
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	border: thick solid #DBD7BA;
}
h2 {
	font-family: Arial, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: bold;
}
blockquote {
	font-style: italic;
	clear: right;
	padding-bottom: 5px;
}
section {
	background-color: #DBD7BA;
	padding-top: 15px;
	padding-left: 35px;
	padding-right: 15px;
	padding-bottom: 15px;
	border: thick solid #7E6021;
}
aside {
	font-size: 17px;
	color: #DCE9E3;
	background-color: #7E6021;
	float: right;
	margin-top: 20px;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	border-top-left-radius: 40px;
	border: thick solid #AFCFC0;
	border-bottom-right-radius: 40px;
	margin-bottom: 20px;
	margin-right: 20px;
}
span {
	font-style: italic;
}
#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
footer {
	font-size: 13px;
}
.copyright-text {
	margin-top: 15px;
}
